#navBar {

    background-color: #FEEEEE;
    padding: 0 7rem;
    

}

.navbar-brand {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    color: #5D323F;
}
   
.nav-item{
    margin: 0 20px;
}
.navbar .nav-link {
    color: #5D323F;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}
hr {
    border-top: 1px solid #572F3F;
    padding: 0;
    margin: 0;
    opacity: 0.4;
}
/* home style  */
#home {
    background-color: #FEEEEE;
    padding: 7rem 7rem; 
}
.home-text {
    color: #572F3F;

}
.home-text h1 {
    font-size: 3.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: capitalize;
}
.home-text p {
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    line-height: 1.8;
    margin: 20px 0 ;


}

.home-img img {
    width:90%;
    margin-left: 20px;
}
/* about us syle  */
#about-us {
    padding: 7rem 4rem; 
    text-align: center;
}
#about-us h2 {
    font-size: 3rem;
   
}
#about-us p {
    font-size: 18px;
    font-family: 'Playfair Display', serif;
    line-height: 1.5;
    margin: 20px 0 ;
}
#about-us i {
    color: #572F3F;
    margin: 10px 0 ;
}
#about-us i:hover {
    color: #8d5068;
    cursor: pointer;
}

/* our work  */
#our-work {
    padding: 7rem 7rem; 
    background-color: #FEEEEE;
}
#our-work h2{

    font-size: 3rem;
    color: #572F3F;

    text-align: center;
    font-family: 'Montserrat', sans-serif;

    margin-bottom: 20px;
    font-weight: bold;

}
#our-work img {
    width: 1200px;
    height: 500px;
}
/* contact style  */
#contact {
    padding: 7rem 7rem;
    text-align: center;
    
} 
.s-media i {
    margin: 0 20px;
}
.s-media i:hover {
    color: #572F3F;
    cursor: pointer;
}
/* media query  */

@media (max-width:630px) {
    /* nav bar query  */
    #navBar {

        background-color: #FEEEEE;
        padding: 0 3rem;
        
    
    }
    /* brand query  */
    .navbar-brand  {
        font-size: 21px;
    }
    .navbar .nav-link {
        font-size: 18px;
    }
    /* home qurey  */
    #home {
        background-color: #FEEEEE;
        padding: 7rem 3rem; 
    }
    .home-text p {
        font-size: 18px;
    }
   .home-text h1 {
        font-size: 22px !important;
       
    }
    .home-img img {
        width:100% 
    }

    /* abut us query  */
    #about-us {
        padding: 7rem 3rem; 
        text-align: center;
    }
    #about-us i {
        font-size: 22px;
    }
    #about-us h2 {
        font-size: 22px;
    }
    #about-us p {
        font-size: 18px;
    }
    /* our work query  */
    #our-work h2 {
        font-size: 20px;
    }
    
#our-work img  {
    width: 100%;
    height: 100%;
}
 /* s-media query  */
 #contact {
    padding: 7rem 3rem;
    text-align: center;
    
}
 .s-media i {
     font-size: 18px;
 }
}
